<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ООО "ГОРЭЛЕКТРОТРАНС"</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/equipment-details.js"></script>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>VIN</th>
        <th>Гаражный номер</th>
        <th>ИнфоТех</th>
    </tr>
    </thead>
    <tbody id="equipment-details">
    <!-- Rows will be appended here by JavaScript -->
    </tbody>
</table>

</body>
</html>
